.card-title
{
  text-align: center;
  font-size:13px;
  
}
.btn-movimento
{
  position:fixed;
  width:60px;
  height:60px;
  bottom:2px;
  right:50%;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}
.card
{
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left

}
body
{
  background-image:url(./images/sfondo.jpg);
  background-repeat:repeat-y;
  background-size: 100% ;
}
.card-img-top
{
  width: 286px !important;
  height: 430px;
}
.card-button
{
  margin: 10px 0px;
  padding: 10px !important;
}
#freccia
{
  width: 30px;
}
#home
{
  text-align: center;
}